<?xml version="1.0" ?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template>Normal.dotm</Template>
  <Company>芳向电脑工作室</Company>
  <Pages>47</Pages>
  <Words>9742</Words>
  <Characters>11386</Characters>
  <Lines>67</Lines>
  <Paragraphs>19</Paragraphs>
  <TotalTime>4.33333333333333</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>11832</CharactersWithSpaces>
  <Application>WPS Office_12.1.0.21171_F1E327BC-269C-435d-A152-05C5408002CA</Application>
  <DocSecurity>0</DocSecurity>
</Properties>
